@font-face {
  font-family: 'Kyiv';
  src: url(/fonts/KyivTypeSerif-Heavy3.ttf) format('truetype'), url(/fonts/KyivTypeSans-Heavy3.otf) format('opentype'), url(/fonts/KyivTypeSans-Heavy3.woff) format('woff'), url(/fonts/KyivTypeSans-Heavy3.woff2) format('woff2'), url(/fonts/KyivTypeSans-Heavy3.eot) format('embedded-opentype');
}

h1 {
  font-family: 'Kyiv';
}
